.home-section {
	padding-top: 90px;
	text-align: center;

	[class*="col-"] {
		margin-bottom: 90px;
	}
}

.home-header {
	padding: 10px 0;
	color: @brand-primary;

	h3 {
		margin-top: 10px;
	}

	small {
		color: @brand-primary;	
	}

	.logo {
		display: inline-block;
		float:right;
		width: 48px;
		height: 48px;
		background: url("../resources/img/logo.png") no-repeat;	
	}
}

.home-pitch {
	position: relative;
	height: 600px;
	padding-top: 180px;
	background: @brand-primary;
	text-align: left;
	color: @brand-default;

	p {
		font-size: @font-size-large;
		font-weight: 100;
	}

	.activities {
		position: absolute;
		top: 0;
		right: 0;
		width: 599px;
		height: 100%;
		background: url("../resources/img/activities.png") no-repeat;
	}

    @media (min-width: @screen-sm-min) {

    	.activities {
    		background: url("../resources/img/activities-sm.png") no-repeat;
    	}
    }
}

.home-usage {

	p {
		color: @gray-light;
	}
	
	.glyphicon {
		font-size: 50px;
		color: @white;
	}
}

.home-sample {
	position: relative;
	height: 615px;
	background: url("../resources/img/map.jpg") no-repeat center center;
	background-size: cover;

	.section {
		width: 358px;	
		height: 300px;
		background: url("../resources/img/mapSection.png") no-repeat;
	}

	.phone {
		float: right;
		width: 300px;
		height: 597px;
		background: url("../resources/img/phone.png") no-repeat;
	}
}

.home-features {
	
	p {
		color: @gray-light;
	}

	.stores {
		margin: 50px 0;

		img {
			height: 90px;
		}
	}

	.glyphicon {
		font-size: 30px;
		color: @white;
	}
}