@import '~bootstrap.less';
@import './variables.less';

body {
	font-family: 'Roboto', sans-serif;
}

//== Colors
@white {
	color: @white;
}

.yellow {
	color: @yellow;
}

.red {
	color: @red;
}

.blue {
	color: @blue;
}

//== Glyphicons

.glyphicon-stack {
	position: relative;
	display: inline-block;
	width: 2em;
	height: 2em;
	line-height: 2em;
	vertical-align: middle;
}

.glyphicon-circle {
	position: relative;
	border-radius: 50%;
	width: 100%;
	height: auto;
	padding-top: 100%;
	background: black;

	&.yellow {
		background: @yellow;
	}

	&.red {
		background: @red;
	}

	&.blue {
		background: @blue;
	}
}

.glyphicon-stack-1x {
	line-height: inherit;
}

.glyphicon-stack-1x, .glyphicon-stack-2x {
	position: absolute;
	left: 0;
	width: 100%;
	text-align: center;
}

//== Jumbotron

.jumbotron {
	background: @brand-primary;
	color: @white;
}

//== Top layer

.toplayer {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 1000;
	background: @white;
}


//== Components
@import './error.less';
@import '../../home/components/home.less';
@import '../../track/components/trackMap.less';
@import '../../track/components/trackSection.less';