.error {
	padding-top: 200px;
	text-align: center;
	font-size: @font-size-large;
	color: @brand-primary;

    a {
        text-decoration: underline;
    }

	h1 {
		font-size: @font-size-h1 * 6;
	}

	h2 {
		font-size: @font-size-h2 * 5;
	}

	h3 {
		font-size: @font-size-h3 * 4;
	}

	h4 {
		font-size: @font-size-h4 * 3;
	}	
}