.track-map {
    position:absolute;
    top:0;
    bottom:0;
    width:100%;
        
    .leaflet-container {
        position:absolute;
        top:0;
        bottom:0;
        width:100%;
    }
}

.track-account {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 900;
    color: @gray;

    h3 {
        margin-top: 10px;
    }

    small {
        color: @gray;
    }

    a {
        color: @gray;

        &:hover {
            text-decoration: none;
        }
    }
}

.leaflet-control-container {
    
    .leaflet-top {
        z-index: 800;

        &.leaflet-right {
            top: 60px;
        }
    }

    .leaflet-bottom {
        z-index: 800;    
    }

    .leaflet-bar {
        border-color: @white;
        box-shadow: @box-shadow;    
    }
}