//== Variables

@activity-width: 32px;
@activity-height: 32px;

//== Mixins

.make-activity(@name, @index) {
    @x: -@activity-width * @index;

    .activity-@{name} {
        background-position: @x 0px;

        &.activity-state-running {
            background-position: @x -@activity-height;
        }

        &.activity-state-lost {
            background-position: @x -@activity-height * 2;
        }

        &.activity-state-terminated {
            background-position: @x -@activity-height * 3;
        }
    }
}

//== Styles

.track-section {
    position: absolute;
    top: initial;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 900;

    @media (min-width: @screen-sm-min) {
        top: 10px;
        bottom: initial;
        left: 10px;
        right: initial;
        width: 350px;
    }
}

.track-section-body {
    overflow: hidden;
    background: @body-bg;
    color: @gray;

    @media (min-width: @screen-sm-min) {
        margin-bottom: 10px;
        box-shadow: @box-shadow;

        &:first-child {
            border-top-left-radius: 2px;
            border-top-right-radius: 2px;
        }

        &:last-child {
            border-bottom-left-radius: 2px;
            border-bottom-right-radius: 2px;
        }
    }
}

.track-section-profile {
    display: flex;
    max-height: 100px;
    min-height: 55px;
    padding: 5px 10px;
    align-items: center;
    color: @brand-default;
    transition: background 0.5s ease, max-height 0.5s ease;

    &.in {
        max-height: 55px;

        &.done {

            .name {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            .user-name {
                display: none;
            }            
        }
    }

    a {
        color: @brand-default;

        &:hover {
            color: darken(@brand-default, 14%);
        }
    }

    .activity {
        margin-right: 10px;
    }

    .content {
        flex: 1;
        align-self: flex-start;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .name {
        margin: 0;
        font-size: @font-size-large;
    }

    .user-name {
        margin: 0;
        font-weight: 100;
    }

    .toggle {
        margin-left: 10px;
    }

    @media (min-width: @screen-sm-min) {
        max-height: 113px;
        min-height: initial;

        &.in {
            max-height: 43px;        
            border-bottom-left-radius: 2px;
            border-bottom-right-radius: 2px;
        }

        .content {
            margin-top: 4px;
            margin-bottom: 4px;
        }        
    }
}

.track-section-profile-running {
    background: @brand-success;
    
    &.in {
        background: @body-bg;
        color: @brand-success;

        a {
            color: @brand-success;

            &:hover {
                color: darken(@brand-success, 14%);
            }
        }        
    }
}

.track-section-profile-lost {
    background: @brand-danger;

    &.in {
        background: @body-bg;
        color: @brand-danger;

        a {
            color: @brand-danger;

            &:hover {
                color: darken(@brand-danger, 14%);
            }
        }
    }
}

.track-section-profile-terminated {
    background: @gray-light;

    &.in {
        background: @body-bg;
        color: @gray-light;

        a {
            color: @gray-light;

            &:hover {
                color: darken(@gray-light, 14%);
            }
        }
    }
}

.track-section-track {
    max-height: 250px;
    transition: max-height 0.5s ease;
    
    &.in {
        max-height: 0;
    }

    hr {
        margin: 0;
    }

    .status {
        margin: 0 0 0 52px;
        padding: 15px 15px 15px 0;
    }

    ul.metrics {
        padding: 15px;
        margin: 0;
        font-family: 'Roboto Condensed', sans-serif;
        list-style: none;

        li {
            line-height: 2.5;
        }
    }

    .glyphicon {
        margin-right: 19px;
        font-size: 18px;
        vertical-align: sub;
    }

    .value {

    }
}

.activity {
    display: inline-block;
    width: 32px;
    height: 32px;
    vertical-align: middle;
    background-image: url('../resources/img/activityIcones.png');
    background-repeat: no-repeat;
    background-position-y: 0px;
}

.make-activity(walking, 0);
.make-activity(running, 1);
.make-activity(trekking, 2);
.make-activity(biking, 3);
.make-activity(mountain-biking, 4);
.make-activity(skiing, 5);
.make-activity(paragliding, 6);
.make-activity(hanggliding, 7);
.make-activity(car, 8);
.make-activity(motorcycle, 9);
.make-activity(public-transport, 10);